---
http_interactions:
- request:
    method: get
    uri: https://private-2e8649-advapi.apiary-mock.com/map
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c1b81bfd820360a00ac5cc4
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "id": "imaginary",
                "type": "map",
                "links": {
                    "self": "https://private-2e8649-advapi.apiary-mock.com/map"
                }
            },
            "attributes": {
                "tiles": [
                    { "x": 1, "y": 1, "type": "land" },
                    { "x": 1, "y": 2, "type": "water" },
                    { "x": 1, "y": 3, "type": "water" },
                    { "x": 2, "y": 1, "type": "water" },
                    { "x": 2, "y": 2, "type": "water" },
                    { "x": 2, "y": 3, "type": "land" }
                ]
            }
        }
  recorded_at: Thu, 20 Dec 2018 11:49:18 GMT
recorded_with: VCR 4.0.0
